/* font html */

html{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


/*  impostazioni sfondo */
.container{
    width: 100%;
    height: 180px;
    background-color: #62abff;
    background-image: url(/img/pattern.png);
    background-repeat: repeat-x;
    background-size: auto;
    position: relative;
}

/* impostazioni logo */

.logo{
    position: absolute;
    top: 65%;
    width: 280px;
    height: auto;
}

/* body */

body{
    margin: 0;
    padding: 20px;
}

/* blue-text */

.blue-text{
    color: #007bff;
}

/* grandezza sottotitolo */

h1{
    font-size: 70px;
    margin-bottom: 0%;
}

/* grandezza e stile p */

.sottotitolo{
    font-style: italic;
    font-size: 40px;
    color: #666;
    
}

/* grandezza stile data */

.data{
    font-style: italic;
    font-size: 20px;
    color: #666;
    
    
}

/* images Tim */

.images{
    display: flex;
    margin: 0px;
    gap: 15px;
    
}

.images img {
    width: 48%;
    height: auto;
    border-radius: 5px;
}

/* descrizione photo */

.photo-caption{
    font-size: 15px;
    color: #666;
}

/* central */

.central{
    font-size: 25px;
}

/* hightlight */

.highlight.yellow{
    background-color: yellow;
    font-weight: bold;
}

/* elenco puntato */

ul {
    font-size: 25px;
}

/* table */

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

thead :nth-child(1){
    width: 30%;
}
thead :nth-child(2){
    width: 30%;
}
thead :nth-child(3){
    width: 40%;
}
th, td{
    padding: 2%;
}

thead{
    text-align: left;
}

thead tr{
    background-color: #62abff;
    color: #ffff;
}

tbody tr:nth-child(odd){
    background-color: #afd1f8;
}
tbody tr:nth-child(even){
    background-color: #ffff;
}


/* parte finale */

.suggest {
   margin: 40px;
}

.suggest-item{
  display: flex;
  gap: 20px;
}

.item img {
   width: 100px;
   height: auto;
   border: 5px;
}

.item p {
  font-size: 20px;
  text-align: center;
  margin: 5px 0 0;
}